sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: f4S0rG12zN8KhO5yhX/g3L3infGG+RBLa0kO6gZ+EwweLI1mBQgEsYs9I08+PlvpKeE0hUfIMwJxjiqPbzDnJLkIRv/25d3gq70yWz00pDdxZusPlFHH/I5qyRX4J+ZSJORRF06VqfDbuYJyPlkH45QGQqDFNTCF7klOg0XxSkNMfKah15AWs5CTy1d69Ev6mPWcVhfxSRUWEXCVNLa0J/BiWHPEaEMZFI3p22OchVSOD5XbVxP3s6W8+k6sSAfDtHo7TndbgzydZyoau5eVJNOpPQ6T8bOC9jD06fzwasyAMyIE/FYgUkIqyITpkjfMyU/Omukv3qK5cYDNSWOBgo5FSEK9y6aJoHc6toFdRmsc4x0sweSg6KOCPWzhAk7q1up6kGXoowiFRfr9L8OpcUb9QAL/ExR68me/Jh4BGtuhqe1zFYFAdEaTOc6JmBDTwwmb3EWO06/wx/VqZi/B87nCmTFFlE59teHK5qR6qNkZNpYRrZJumcdAH9wtltx+C4Bt2MAUGscbFCh7Ta9r9OUtEXyV6YTeUZLPf+lkJTznyeSlxQThqKm+odXI01BAG0IwMfZwz/mRMlgv5v3fLYCdydtJUXsJ7FhNBOBcbTxG6GiAp6zveb4vXTcpZjTOK2Be/+iMHL/kvvKPrnFedl/TS2M7ffiTjluVHeLzap4=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/The-Clockmaker-or-the-Sayings-and-Doings-of-Samuel-Slick-of-Slickville_5817
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy